@import "../valo/valo.scss";

@mixin mytheme {
	@include valo;
	
	.v-slot-hiddenStuff {
    	position: fixed;
    	left: -500px;
  	}
  	
  	.v-tabsheet-tabitem .v-icon {
  		width: 64px;
  	}
  	
  	.common-properties-editor {
  		margin: 10px;
  	}
  	
  	.v-slider {
  		width: 100%;
  	}
  	
  	.v-caption-inline-label{
		display: inline-block;
		margin-right: 10px;
    	text-align: center;
    	vertical-align: top;
    	line-height: 36px;
	}
	
	.v-horizontallayout-initial-width .v-slot {
		width: initial;
	}
	
	.v-tooltip {
		background-color: white;
	}
}
